/*
 * Colors
 *
 * level-0: #eaeaea;
 * level-1: #b6b6b6;
 * level-2: #838383;
 * level-3: #616161;
 * level-4: #404040;
 * level-5: #2e2e2e;
 *
 */


/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Using inheretance */
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  --level-0: #eaeaea;
  --level-1: #b6b6b6;
  --level-2: #838383;
  --level-3: #616161;
  --level-4: #404040;
  --level-5: #2e2e2e;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

.level-0 {
  background-color: var(--level-0);
  border: 0.5px solid black;
}

.level-1 {
  background-color: var(--level-1);
  border: 0.5px solid black;
}

.level-2 {
  background-color: var(--level-2);
  border: 1px solid black;
}

.level-3 {
  background-color: var(--level-3);
  border: 2px solid black;
}

.level-4 {
  background-color: var(--level-4);
  border: 3px solid black;
}

.level-5 {
  background-color: var(--level-5);
  border: 4px solid black;
}

.header {
  display: block;
  height: 18rem;
}

.navbar {
  font-size: 1.9rem;
  display: flex;
  height: 100%;
}

.row {
  display: flex;
}

.row-pad {
  padding: 0 3%;
}

.col {
  width: 100%;
  height: 100%;
}

.col-3 {
  width: 25%;
  height: 100%;
}

.col-4 {
  width: 50%;
  height: 100%;
}

.col-8 {
  width: 100%;
  height: 100%;
}

.col-9 {
  width: 75%;
  height: 100%;
}

.col-12 {
  width: 100%;
}

.col-pad {
  padding: 2rem;
}

.latest-news-box {
  font-size: 3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 46rem;
  width: 56rem;
}

.big-title {
  font-size: 4.5rem;
}

.author-name-box {
  height: 20%;
}

.art-title-box {
  height: 70%;
}

.tags-box {
  height: 10%;
}

.center {
  margin: 0 auto;
}

.art-link {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: black;
}

.last-news {
  width: 100%;
  height: 74.8rem;
}

.center-title-box {
  text-align: center;
  font-size: 3.5rem;
  position: absolute;
  width: 33rem;
  height: 9.6rem;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: none;
  color: #fff;
}

.first-line {
  display: block;
  width: 100%;
}

.second-line {
  display: inline;
}

.centered-xy {
  text-align: center;
  vertical-align: middle;
  line-height: 18rem;
}

.news {
  width: 100%;
  height: 64rem;
}

.latest-posts {
  width: 100%;
  height: 64rem;
}

[class^="post-"] {
  padding-left: 2rem;
}

.post-date {
  height: 10%;
}

.post-title {
  height: 30%;
}

.post-author {
  height: 20%;
}

.post-intro {
  height: 40%;
}

.smashing-ad {
  margin: 0 auto;
  height: 64rem;
}

.ad-box {
  height: 50%;
}

.mash-title {
  height: 12.5%;
}

.ad-desc {
  height: 12.5%;
}

.art-1 {
  height: 50%;
}

.link-box {
  height: 17rem;
}

.event-box {
  margin: 0 auto;
  height: 64rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.coming-up {
  height: 10%;
  width: 25%;
}

.main-title {
  height: 15%;
  width: 60%;
}

.desc-article {
  height: 20%;
  width: 50%;
}

.event-btn {
  border-radius: 1.5rem;
  color: #fff;
  height: 4.5rem;
  width: 25rem;
}

.img-magazine {
  height: 40%;
  width: 60%;
}

.member-links-box {
  height: 33rem;
}

.author-art-box {
  height: 44rem;
}

.book-ad-box {
  height: 33rem;
}

.col-pad-book {
  padding: 10rem 0 10rem 3rem;
}

.guides-box {
  width: 100%;
  height: 64rem;
}

.newsletter-box {
  width: 100%;
  height: 64rem;
}

.footer-box {
  width: 100%;
  height: 64rem;
}

.person-week {
  margin-top: 3rem;
  text-transform: uppercase;
}

.author-avatar-box {
  margin-top: 10rem;
  float: left;
  width: 30%;
  height: 30%;
}

.author-art-md-box {
  margin-top: 10rem;
  float: left;
  width: 70%;
  height: 55%;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-img-box {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: 30rem;
  top: -10rem;
}

.book-box {
  display: relative;
}

.footer-box {
  position: relative;
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

.footer-title-box {
  height: 20%;
  width: 100%;
  align-items: center;
}

.footer-title {
  text-align: center;
  width: inherit;
  font-size: 2rem;
}

.footer-list-box {
  height: 40%;
  align-items: center;
}

.footer-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-list-item {
  display: inline-block;
  font-size: 2.4rem;
  padding: 1.5rem;
}

.site-info-box {
  height: 20%;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.site-info-text {
  font-size: 1.6rem;
  width: 30%;
  text-align: center;
  margin: 0.5rem 0;
}

.contact-links-box {
  height: 20%;
  width: 100%;
  justify-content: center;
}

.contact-links-list {
  display: inline-flex;
  width: 40%;
  padding: 0 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-link {
  display: inline-block;
  font-size: 1.6rem;
  margin: 1rem 2rem;
}

.footer-img {
  position: absolute;
  bottom: 1rem;
  left: 12%;
  height: 25%;
  width: 10%;
}
